/*GenExpDB css */
a {color:#666666;font-family:Arial,Helvetica,sans-serif;font-size: 11px;text-decoration:underline;}
div.hidden, span.hidden {display: none;}
div.showrec, span.showrec{display: block;}  
/*========================================*/
.thl {font-family:Arial,Helvetica,sans-serif; text-align: left; background-color: #c3ccd3; font-size: 9pt; font-weight: bold}
.thc {font-family:Arial,Helvetica,sans-serif; text-align: center; background-color: #c3ccd3; font-size: 9pt; font-weight: bold}
.thr {font-family:Arial,Helvetica,sans-serif; text-align: right; background-color: #c3ccd3; font-size: 9pt; font-weight: bold}
.tdl {font-family:Arial,Helvetica,sans-serif; font-size: 8pt;}
.tdll {font-family:Arial,Helvetica,sans-serif; font-size: 8pt; text-align: left;}
.tdc {font-family:Arial,Helvetica,sans-serif; font-size: 8pt; text-align: center;}
.tdr {font-family:Arial,Helvetica,sans-serif; font-size: 8pt; text-align: right;}
.lb	{font-family:Arial,Helvetica,sans-serif; font-size: 8px; color: #800000; }
.sm10 {font-family:Arial,Helvetica,sans-serif; font-size: 10px; color: #000000; }
.sdc	{font-family:Arial,Helvetica,sans-serif; text-align: center; font-size: 6pt; font-weight: bold; vertical-align:middle;}
.sb	{height: 17px; font-family:Arial,Helvetica,sans-serif; font-size: 9px; color: #800000; vertical-align: middle;}
.sb5	{width: 75px; height: 17px; font-family:Arial,Helvetica,sans-serif; font-size: 9px; color: #800000; vertical-align: middle;}
.sb15	{width: 100px; height: 17px; font-family:Arial,Helvetica,sans-serif; font-size: 9px; color: #800000; vertical-align: middle;}
.small {font-size: 10px; font-family:Arial,Helvetica,sans-serif; vertical-align: middle;}
/*========================================*/
.phd{clear:both;width:100%;margin-top:0px;}
.hdln1{font-family:Arial,Helvetica,sans-serif;font-size:20px;font-weight:bold;text-align:center;}
.hdln2{font-family:Arial,Helvetica,sans-serif;font-size:11px;text-align:center;}
.exmp{color:blue;cursor:pointer;}
.dcur{cursor:pointer;}
.ebtn{font-family:Arial,Helvetica,sans-serif;color:#800000;vertical-align:middle;font-size:10px;}
.inst{font-family:Arial, Helvetica, sans-serif;font-size:9px;color:#333333;padding:8px;text-align:center;}
.pmsg{position:fixed;left:12px;top:170px;background-color:white;width:250px;height:30px;padding-top:12px;text-align:center;vertical-align:middle;border:blue 2px solid;z-index:300;}
.dna{margin-left:10px;font-family:monospace;font-size:12px;color:#333333;}
.nfd{color:red;text-align:center;}
.nsd{height:12px;width:26px;font-size:10px;vertical-align:middle;text-align:center;}
.tblb{border-width:1px;border-style:solid;border-color:#000000;}
#mar{margin-left: 0.5cm;margin-right: 0.5cm;}
table.sortable thead{text-decoration: underline;cursor: default;}
.ftop{clear:both;width:auto;margin:12px;}
.shead{font-family:Arial,Helvetica,sans-serif;text-align:center;color:#000000;font-size:9pt;font-weight:bold;cursor:pointer;text-decoration:underline;}
.err{margin-left:10px;color:red;}
/*========================================*/
.hlpa{font-family:arial,sans-serif;font-size:13px;padding-top:1px !important;height:22px;color:#0000CC !important;cursor:pointer;margin-left:10px;}
.hlpb{margin-left:20px;font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333333;}
.mnl{font-family:arial,sans-serif;font-size:13px;padding-top:1px !important;height:22px;color:#0000CC !important;cursor:pointer;margin-right:0.5em;text-decoration:underline;}
.mn2{font-family:arial,sans-serif;font-size:13px;padding-top:1px !important;height:22px;color:#0000CC !important;margin-right:0.5em;}
.stt{font-family:arial,sans-serif;border:1px solid #9AAAB4;}
.shc{font-family:Arial,Helvetica,sans-serif;text-align:center;background-color:#c3ccd3;font-size:9pt;font-weight:bold;cursor:pointer;text-decoration:underline;white-space:nowrap;}
.hlp{font-family:arial,sans-serif;position:absolute;display:none;background:#e8eefa;border:1px solid #000;left:10px;top:170px;}
/*========================================*/
.cpyrght {border-color:#55737E;border-style:solid none none;border-width:1px;color:#999999;font-family:Arial,Helvetica,sans-serif;font-size:11px;padding:5px;}
/* oubcf login boxes */
#loginhead {position:absolute;top:2px;height:20px;right:0;float:right;}
.logininput {height:13px;width:75px;font-size:10px;}
